.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 140px;
  padding-top: 10px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.App-intro {
  font-size: large;
}

.banner-title {
  padding-top: 40px;
}

.event-card {
  width: 30%;
  padding-left: 75px;
  margin: 10px;
  height: 300px;
}

.eventImage {
  height: 170px; 
  width: 281px; 
  overflow: hidden;
  border: hidden;
  margin-left: 40px;
}

.UPCOMING {
  color:green;
}

.PAST {
  color:red;
}

.eventLabel {
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.list-group {
  align-content: center;
  margin-left: 35px;
}

.infoPara {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
